/*CSS reset*/ 

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
  
  /* 2. Remove default margin */
* {
    margin: 0;
  }
  
body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
  
  /* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
  /* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
  
  /* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
  /* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
  
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
  /*
    9. Create a root stacking context
  */
#root, #__next {
    isolation: isolate;
}

/* the main css*/

.Main {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;	
}

.displayController {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	border-width: 10px;
	border-style: double;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.cells {
	height: 100%;
	width: 100%;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	padding: 3px;
	gap: 10px;
	border: 2px solid black;
}

.displayResults {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
}

.result {
	border: 2px solid black;
	width: 500px;
	height: 100px;
	margin-bottom: 3px;
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}